extends layout

block content
  h1= analysis
  p #{analysis} was created successfully, congratulations. Your endpoint token is below, please copy it and keep it somewhere safe like below your mattress.
  p= client_secret
  p In particular, you will be making a #[code POST] request with the cutflow information in JSON format:
  code POST /api/analysis/#{analysis}?token=#{client_secret}
