extends layout

block content
  h1= title
  p Welcome to #{title}.

  if locals.user
    p Hello #{locals.user.name}, click here to #[a(href="/logout") log out]. Your OAuth2 token contained the following info:
    ul
        each val, key in locals.user
            li #{key}: #{val}
  else
    p Click here to log in via #[a(href="/auth/oauth2") CERN OAuth2].
